#canvas {
  z-index: 0;
  display: flex;
  background: url('../../../img/1.png') center no-repeat/cover;
}
#gcanvas {
  display: flex;
  position: absolute;
  z-index: 1;
}

@media screen and (orientation: portrait) {
  #canvas, #gcanvas, .modal-window {
    transform: rotate(90deg);
    background-size: cover;
  }

  .blur {
    display: none;
  }
}