@import '../../../css/variables';

.settings {
  display: flex;
  z-index: 0;
  justify-content: flex-start;

  &__btn {
    background: center no-repeat;
    height: 32px;
    width: 32px;
    margin: 0 5px;
    border-radius: 16px;

    &:hover {
      filter: drop-shadow(0 0 1vh var(--light-blue-clr));
    }

    &_info {
      background-image: url('../img/svg/info.svg');
    }

    &_sound-on {
      background-image: url('../img/svg/volume_up.svg');
    }
  }
}

@media screen and (orientation: portrait) {
  .settings {
    position: absolute;
  }
}