static/js/views/about/aboutView.tmpl.js
static/js/views/leaderboard/leaderboardView.tmpl.js
static/js/views/menu/menuView.tmpl.js
static/js/views/profile/profileView.tmpl.js
static/js/views/signUp/signUpView.tmpl.js
static/js/views/login/loginView.tmpl.js
static/dist/bundle.js

