/.git
/.vscode
node_modules
package-lock.json

static/js/views/menu/menuView.tmpl.js
static/js/views/leaderboard/leaderboard.tmpl.js
static/js/views/login/login.tmpl.js
static/js/views/about/about.tmpl.js 
static/js/views/signup/signup.tmpl.js 
static/js/views/profile/profile.tmpl.js

static/js/views/menu/menuView.tmpl.xml
static/js/views/leaderboard/leaderboard.tmpl.xml
static/js/views/login/login.tmpl.xml
static/js/views/about/about.tmpl.xml 
static/js/views/signUp/signUp.tmpl.xml 
static/js/views/profile/profile.tmpl.xml 