@import '../../../css/flexbox.scss';

.menu {
  @extend %columned;
  padding: 0 3vw;
  margin-top: 10vh;
  font-size: 10vh;

  &__btn {
    font-family: var(--title-font);
    margin: 1vh 0;
  }

  &__symbol {
    background: center no-repeat;
    background-size: 0.5em;
    height: 0.5em;
    width: 0.5em;
    margin: 0 0 0 15px;

    &_td {
      background-image: url('../../../img/menu/td.png');
    }

    &_lr {
      background-image: url('../../../img/menu/lr.png');
    }

    &_dtd {
      background-image: url('../../../img/menu/dtd.png');
    }
  }
}

.name {
  animation: pulse 1s infinite;
  font-family: var(--title-font);
  font-size: 28vh;
  margin: 25vh auto 0 auto;
  text-align: center;

  @media screen and (width <= 1400px) {
    display: none;
  }

  @media screen and (width > 1400px) and (orientation: landscape) {
    display: flex;
  }

  &name__text {
    &:hover {
      text-shadow: var(--common-shdw);
    }
  }
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 0.7em var(--light-blue-clr);
  }
  20% {
    text-shadow: 0 0 0.6em var(--light-blue-clr);
  }
  40% {
    text-shadow: 0 0 0.5em var(--light-blue-clr);
  }
  60% {
    text-shadow: 0 0 0.6em var(--light-blue-clr);
  }
  80% {
    text-shadow: 0 0 0.7em var(--light-blue-clr);
  }
  100% {
    text-shadow: 0 0 0.6em var(--light-blue-clr);
  }
}