@import 'variables.scss';
@import 'flexbox.scss';

.container {
  color: var(--main-clr);
  font-family: var(--content-font);
  width: 100%;
  user-select: none;
  display: inline-grid;
  overflow: hidden;
  height: 100vh;

  @media screen and (min-height: 321px) {
    grid-template-columns: 4fr 4fr 4fr;
  }

  @media screen and (max-height: 320px) {
    grid-template-columns: 15vw 70vw 15vw;
  }

  &_game {
    display: flex;
  }

  &__block {
    margin: 10px;
    height: 100vh;

    &_left {
      grid-column: 1;
    }

    &_right {
      grid-column: 3
    }

    &_center {
      @extend %columned;
      grid-column: 2;
      background: var(--bg-black-clr);
      box-shadow: 0 0 3vw var(--light-blue-clr);
      margin: 0;
      justify-content: center;
    }
  }

  &_menu {
    @media screen and (width > 1400px) and (orientation: landscape) {
        grid-template-columns: 1fr 2fr 8fr;
    }

    @media screen and (width < 1400px) and (orientation: portrait) {
        grid-template-columns: 4fr 4fr 4fr;
    }
  }
}

.sided-block {
  display: grid;
  grid-template-rows: 1fr 23fr;
}