@import './flexbox.scss';

.content {
  @extend %columned;
  padding: 4vh 4vw;
  justify-content: center;

  &_modal {
    padding: 4vh 4vw;
    color: white;
    font-size: 7.5vh;

    @media screen and (orientation: portrait) {
      width: 60vw;
    }
    @media screen and (orientation: landscape) {
      width: 100%;
    }
  }

  &__header {
    cursor: default;
    font-family: var(--title-font);
    font-size: 10vh;
    margin-bottom: 4vh;
    text-align: center;
    text-shadow: var(--common-shdw);

    &_modal {
      font-size: 7.5vh;
      margin: 2vh 0 8vh 0;
      width: 100%;
    }
  }
}

.content-top {
  @extend %inline ;
}

.menu {
  @extend %columned;
  padding: 0 3vw;
  margin-top: 10vh;
  //grid-row: 2;
  font-size: 11vh;

  &__btn {
    font-family: var(--title-font);
    margin: 1vh 0;
  }
}

.profile {
  @extend %columned;
  font-size: 2.75vh;

  &__row {
    background-color: transparent;
    border: none;
    color: var(--main-clr);
    display: flex;
    padding-left: 0.5em;
    cursor: default;
    user-select: text;
  }

  &__btn {
    border-radius: 0 0 1em 1em;
    margin: 0;
    text-align: center;
    justify-content: center;

    &_action {
      margin-bottom: 2vh
    }
  }

  &__score {
    @extend %inline;
    padding-left: 0.5em;
    user-select: text;
    cursor: default;
  }
}

.avatar {
  @extend %columned;
  font-size: 1.75vh;
  width: 10em;
  margin-bottom: 2vh;

  &__img {
    background: transparent center no-repeat;
    border-radius: 1em 1em 0 0;
    height: 10em;
    background-size: cover;
    width: 10em;

    &_generated {
      width: 4em;
      height: 4em;
    }
  }
}

.about {
  @extend %columned;
  font-size: 3vh;

  &__unit {
    margin: 2vh 1vw 1vh 1vw;
  }

  &__btn {
    border-bottom: 0.1em dotted;
    margin: 0.15em 0 0 0.25em;

    &:hover, &:focus {
      border-bottom: 0.1em dotted;
    }
  }
}

.unit {
  display: flex;

  &_back-btn-block {
    width: 100%;
    justify-content: flex-start;
  }

  &_columned {
    @extend %columned;
  }

  &_inline {
    @extend %inline;
  }

  &_profile {
    flex-direction: row;
    margin-top: 0.5em;
    text-align: left;
    width: 100%;

    &__title {
      margin: 0.5em 0 1vh 0;

      &_row {
        margin: 0;
        width: auto;
      }
    }
  }
}