@import 'variables.scss';
@import 'flexbox.scss';

.form {
  @extend %columned;

  &_change-password {
    @extend %inline;
    font-size: 2.5vh;
    align-content: center;
    justify-content: center;
    margin-top: 1vh;
  }

  &__input {
    width: 100%;
    border: none;
    border-radius: 0.25em;
    font-size: 4vh;
    height: 6vh;
    margin: 0.5vh 0;
    padding: 0 0.25em;
    text-align: left;

    &:focus {
      box-shadow: var(--small-shdw)
    }

    &_profile {
      @extend %inline;
      border: none;
      border-radius: 1vh;
      font-size: 2.5vh;
      justify-content: center;
      padding: 0 0.25em;
      width: 100%;
    }
  }

  &::placeholder {
    padding: 0 4px;
    color: var(--black-clr);
    font-family: var(--content-font);
  }

  &__label {
    color: white;
    font-size: 3vh;
    margin: 1vh 0;
    text-shadow: var(--common-shdw);
    align-self: flex-start;
  }

  &__signins-header {
    margin-top: 2vh;
    font-size: 3vh;
  }

  &__singins {
    @extend %inline;
    margin-top: 2vh;
    justify-content: center;
  }

  &__btn {
    font-size: 4vh;
    margin: 2vh 1vw 1vh 1vw;
  }

  &_change-password {
    flex-direction: row;
    margin: 1vh 0;
  }

  &__warning {
    color: var(--invalid-red-clr);
    width: 300px;
    font-size: 2vh;
    overflow-wrap: break-word;
    white-space: normal;
  }

  &__change-photo {
    width: 10em;

    input [type="file" ] {
      display: none
    }
  }
}

.form-btn-block {
  @extend %inline;
  justify-content: center;
  width: 100%;
}

.invalid {
  box-shadow: var(--invalid-shdw);
}

.valid {
  box-shadow: var(--valid-shdw);
}