/* COMMON CONTENT */
@font-face {
    font-family: "One Stroke";
    src: url("../fonts/14392.otf");
}
body {
    font-family: "One Stroke";
    background-image: url('../img/2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-shadow: 0 0 1em cadetblue;
}
.container {
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* block with sound and info icons */
.settings-block {
    display: flex;
    justify-content: space-between;
    width: 6vw;
    margin: 1vh 1vw 0 1vw;
}
.settings-btn {
    font-size: 4vh;
    fill: white;
    cursor: pointer;
    filter: drop-shadow(0 0 16px cadetblue);
    margin: 0 4% 0 0;
}
.settings-btn:hover {
    filter: drop-shadow(0 0 16px powderblue);
}

/* block with signin and signup */
.users-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 4vw;
    height: 4vh;
    margin-top: 1vh;
}
.users-btn {
    color: white;
    font-size: 5vh;
    cursor: pointer;
    margin-left: 12%;
}
.users-btn:hover {
    font-size: 6vh;
    text-shadow: 0 0 1em powderblue;
}
.main-header {
    cursor: default;
    color: white;
    font-size: 24vh;
    display: flex;
    margin: 20vh 0 0 8vw;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% {
        text-shadow: 0 0 0.8em cadetblue;
    }
    20% {
        text-shadow: 0 0 0.6em cadetblue;
    }
    40% {
        text-shadow: 0 0 1em cadetblue;
    }
    60% {
        text-shadow: 0 0 0.8em cadetblue;
    }
    80% {
        text-shadow: 0 0 0.6em cadetblue;
    }
    100% {
        text-shadow: 0 0 0.8em cadetblue;
    }
}

/* items for page content */
.main-container {
    background: black;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 16vw darkslategray;
    justify-content: center;
}
.main-content {
    height: 100vh;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-content-header {
    display: flex;
    justify-content: center;
    color: #111111;
    font-size: 10vh;
    margin: 0 0 1vh 0;
}
.content-block {
    display: flex;
    flex-direction: column;
}
.main-row {
    width: 100%;
    text-align: left;
    font-size: 12vh;
}
.main-row:hover {
    text-shadow: 0 0 32px powderblue;
}
.main-btn {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.main-label-light {
    display: flex;
    color: white;
    font-size: 6vh;
    margin: 1vh 0;
}
.main-label-dark {
    display: flex;
    color: #111111;
    text-align: left;
    font-size: 6vh;
    margin: 1vh 0;
}
.back-menu-btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 4vh;
    color: #111111;
    margin: 2vh 0 4vh 0;
    cursor: pointer;
}
.back-menu-btn:hover {
    color: white;
}
.small-label-light {
    display: flex;
    color: white;
    text-shadow: 0 0 1em cadetblue;
    font-size: 4vh;
}
.small-btn-light {
    display: flex;
    color: white;
    font-size: 4vh;
    text-shadow: 0 0 1em cadetblue;
    cursor: pointer;
}
.small-btn-light:hover {
    text-shadow: 0 0 1em powderblue;
}
.small-btn-dark {
    display: flex;
    color: #111111;
    font-size: 4vh;
    text-shadow: 0 0 1em cadetblue;
    cursor: pointer;
}
.small-btn-dark:hover {
    color: white;
}

/* MENU CONTENT */
.menu-content {
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 32vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* LOGIN CONTENT */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-row {
    font-family: "One Stroke";
    width: 20vw;
    height: 6vh;
    font-size: 4vh;
    border: none;
    box-shadow: 0 0 1em cadetblue;
    border-radius: 1vh;
    margin: 2vh 0;
}
.input-row:focus {
    outline: none;
    box-shadow: 0 0 1em powderblue;
}
.input-row:invalid:not(:placeholder-shown) {
    box-shadow: 0 0 1em indianred;
    text-shadow: 0 0 0.5em indianred;
}
.input-row:valid {
    box-shadow: 0 0 1em lightgreen;
    text-shadow: 0 0 0.5em green;
}
.enter-btn {
    font-family: "One Stroke";
    width: 18vw;
    background: transparent;
    border: none;
    font-size: 10vh;
    color: #111111;
    margin-top: 8vh;
    text-shadow: 0 0 0.5em cadetblue;
    cursor: pointer;
}
.enter-btn:hover {
    color: white;
}
.input-btn-photo input[type="file"] {
    display: none;
}
.input-btn-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #111111;
    width: 20vw;
    height: 6vh;
    font-size: 4vh;
    margin: 2vh 0 0 0;
    border-radius: 1vh;
    box-shadow: 0 0 1em cadetblue;
    cursor: pointer;
}
.input-btn-photo:hover {
    box-shadow: 0 0 1em powderblue;
}
.input-btn-photo:focus {
    outline: none;
}
.photo-btn {
    cursor: pointer;
}
.photo-btn-label {
    cursor: pointer;
}

/* ABOUT CONTENT */
.main-row-about {
    width: 100%;
    text-align: left;
    font-size: 6vh;
    text-decoration: none;
}
.main-row-about:hover {
    text-shadow: 0 0 1em powderblue;
}

/* PROFILE CONTENT */
.avatar-img {
    height: 8em;
    width: 8em;
    border-radius: 6em;
    filter: drop-shadow(0 0 1em darkslategray);
}
.profile-avatar-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.change-btn-photo input[type="file"] {
    display: none;
}
.change-btn-photo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: transparent;
    font-size: 4vh;
    margin: 2vh 0 0 0;
    cursor: pointer;
    text-shadow: 0 0 1em cadetblue;
}
.change-btn-label {
    cursor: pointer;
}
.change-btn-photo:hover {
    text-shadow: 0 0 1em powderblue;
}
.main-profile-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vh 0;
}
.profile-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vh;
}
.profile-subblock{
    display: flex;
    flex-direction: column;
}
.profile-row {
    width: 20vw;
    height: 6vh;
    background-color: white;
    color: #111111;
    font-size: 4vh;
    border: none;
    box-shadow: 0 0 1em cadetblue;
    border-radius: 1vh;
    margin: 2vh 0;
}
.profile-subblock-row {
    display: flex;
    flex-direction: row;
    margin: 1vh 0;
}
.profile-balance {
    color: white;
}
.profile-score {
    color: white;
}
.actions-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
.actions-subblock-row {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 1vh 0;
}
