@font-face {
    font-family: "One Stroke";
    src: url("../fonts/14392.otf");
}
body {
    font-family: "One Stroke";
    background-image: url('../img/2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* BASIC */
.invalid {
    box-shadow: 0 0 1em indianred;
    text-shadow: 0 0 0.5em indianred;
}
.valid {
    box-shadow: 0 0 1em lightgreen;
    text-shadow: 0 0 0.5em green;
}

.hr {
    width: 100%;
}


/* COMMON */
.text-title {
    display: flex;
    color: white;
    text-shadow: 0 0 0.5em rgb(144,180,216);
    margin: 1vh 0;
}


/* MAIN CONTAINERS */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    user-select: none;
}
    .container__block {
        display: flex;
        flex-direction: column;
        margin: 1vh 1vw;
    }
        .container__block_side {
            width: 100%;
        }
            .container__block_side_position-center {
                width: auto;
            }

        .container__block_center {
            margin: 0;
            text-align: center;
            justify-content: center;
            height: 100vh;
            background: rgba(15, 15, 20, .95);
            box-shadow: 0 0 4vh rgb(144,180,216);
        }
            .container__block_center_menu {
                margin-right: 4vw;
            }


/* CONTENT BLOCKS */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 4vw;
    margin: 0;
}
    .content_menu {
        margin-top: 32vh;
    }
        .content_menu__btn {
            font-size: 10vh;
            margin: 1vh 0;
            color: white;
        }

    .content_modal {
        width: 100%;
        padding: 4vh 4vw;
    }

    .content__header {
        display: flex;
        justify-content: center;
        text-align: center;
        color: rgba(255, 255, 255, .9);
        text-shadow: 0 0 1em rgb(144,180,216);
        font-size: 10vh;
        margin-bottom: 4vh;
        cursor: default;
    }
        .content__header_modal {
            width: 100%;
            font-size: 7.5vh;
            margin: 2vh 0 8vh 0;
        }

    .content-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .content-block_avatar {
            align-items: center;
        }
        .content-block_actions {
            margin: 2vh 0;
            text-align: center;
        }
        .content-block_about {
            align-items: center;
            font-family: Helvetica bold ;
        }

        .content-block-unit {
            display: flex;
            flex-direction: row;
        }
            .content-block-unit_about {
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
                margin: 2vh 1vw;
                font-size: 4vh;
            }
                .content-block-unit_about__btn {
                    margin: 0 1vw;
                    font-family: Helvetica bold;
                    color: white;
                }
            .content-block-unit_profile {
                flex-direction: column;
            }
                .content-block-unit_profile__row {
                    width: 20vw;
                    height: 6vh;
                    background-color: white;
                    color: #111111;
                    font-size: 4vh;
                    border: none;
                    box-shadow: 0 0 1em rgb(144,180,216);
                    border-radius: 1vh;
                }

            .content-block-unit__title {
                font-size: 4vh;
                width: 100%;
            }
                .content-block-unit__title_row {
                    width: auto;
                    margin: 2vh 0 0 0;
                }


/* BUTTON */
.btn {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    border: none;
    color: white;
    font-family: "One Stroke";
    /*font-family: "Comic Sans MS";*/
    /*font-family: "Trebuchet MS";*/
    /*font-family: 'Alegreya Sans SC';*/
    /*font-family: 'Dekko';*/
    /*font-family: 'Gruppo';*/
    /*font-family: 'Nova Flat';*/
}
.btn:hover {
    text-shadow: 0 0 1em rgb(144,180,216);
}
.btn:focus {
    outline: none;
    border-width: 0;
}
    .btn_contained{
        color: rgba(255,255,255, .8);
        border-radius: 0.25em;
        background: rgb(72,108,144);
        padding: 0.5vh 1vw;
        margin: 1vh 1vw;
    }
    .btn_contained:hover {
        outline: none;
        border: none;
        box-shadow: 0 0 0.5em rgb(144,180,216);
    }

    .btn_back-menu {
        justify-content: center;
        font-size: 3vh;
        color: white;
    }


/* SETTINGS BLOCK */
.settings{
    display: flex;
    width: 6vw;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    margin: 0 1vw;
    z-index: 0;
}
    .settings__btn {
        font-size: 6vh;
        fill: white;
        cursor: pointer;
        margin: 0 10% 0 0;
    }
    .settings__btn:hover {
        filter: drop-shadow(0 0 1vh rgb(144,180,216));
    }


/* USERS BLOCK */
.users {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    height: 6vh;
    margin-right: 0;
    font-size: 5vh;
    margin-left: auto;
}
    .users__btn {
        margin: 0 1vw;
        font-size: 5vh;
        color: white;
    }
        .users__btn_action {
            font-size: 6vh;
            fill: white;
            cursor: pointer;
            margin-right: 0.5vw;
        }
        .users__btn_action:hover {
            filter: drop-shadow(0 0 1vh rgb(144,180,216));
        }

    .users__avatar {
        width: 1.2em;
        height: 1.2em;
        margin-right: 1vw;
        border-radius: 0.6em;
    }

    .users__title {
        color: white;
        margin-right: 1vw;
    }


/* FORM */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}
    .form__input {
        font-family: Helvetica bold;
        height: 6vh;
        font-size: 4vh;
        border: none;
        box-shadow: 0 0 1em rgb(144,180,216);
        border-radius: 0.25em;
        margin: 0.5vh 0;
        text-align: left;
    }
    .form__input:focus {
        outline: none;
        box-shadow: 0 0 1em white;
    }
    .form__input:invalid:not(:placeholder-shown) {
        box-shadow: 0 0 1em indianred;
        text-shadow: 0 0 0.5em indianred;
    }
    .form__input:valid {
        box-shadow: 0 0 1em lightgreen;
    }

    .form__label {
        display: flex;
        color: white;
        text-shadow: 0 0 1em rgb(144,180,216);
        font-size: 4vh;
        width: 100%;
        margin: 1vh 0;
    }

    .form-btn-block {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .form__btn {
        justify-content: center;
        font-size: 6vh;
        margin: 8vh 1vw 1vh 1vw;
    }


/* PAGINATION */
.paginator {
    display: flex;
    color: white;
    margin-top: 4vh;
    font-size: 4vh;
    border-radius: 1em;
}
    .paginator__page {
        font-size: 4vh;
        line-height: 3vh;
        padding: 0.25em 0.5em;
        display: flex;
        font-family: "One Stroke";
        text-decoration: none;
        background: rgb(72,108,144);
        color: white;
        cursor: pointer;
        border: none;
        border-left: 1px solid rgba(144,180,216, .3);
    }
    .paginator__page:hover {
        text-shadow: 0 0 1em rgb(144,180,216);
        background: rgb(118, 160, 196);
    }
    .paginator__page:focus  {
        outline: none;
    }
        .paginator__page_left {
            border-radius: 1em 0 0 1em;
        }
        .paginator__page_right {
            border-radius: 0 1em 1em 0;
            border-left: 1px solid rgba(144,180,216, .3);
        }


/* LEADERBOARD */
.leaders-table {
    font-family: Helvetica bold;
    color: white;
    font-size: 6vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: none;
    padding: 0 0 4vh 0;
}
    .leaders-table__column-header {
        font-family: "One Stroke";
        margin: 2vh 2vw;
        border-bottom: 1px solid white;
    }

.lead-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 2vw;
}
.lead-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 2vw;
}
li:nth-child(odd) {
}
li:nth-child(even){
}


/* MODAL WINDOW */
.modal {
    position: absolute;
    top: 50%;
    margin-left: 50%;
    display: inline-flex;
    transform: translate(-50%, -50%);
    background: rgb(15, 15, 20);
    box-shadow: 0 0 2em rgb(144,180,216);
    border-radius: 0.75em;
}
    .modal__btn-close {
        fill: white;
        margin-left: auto;
    }


/* MAIN GAME TITLE */
.name {
    display: flex;
    margin: 25vh auto 0 auto;
    font-size: 22vh;
    animation: pulse 1s infinite;
}
    .name__text {
        display: inline-flex;
        text-decoration: none;
        color: white;
    }
    .name__text:hover {
        text-shadow: 0 0 0.5em rgb(144,180,216);
    }
@keyframes pulse {
    0% {
        text-shadow: 0 0 0.7em rgb(144,180,216);
    }
    20% {
        text-shadow: 0 0 0.6em rgb(144,180,216);
    }
    40% {
        text-shadow: 0 0 0.5em rgb(144,180,216);
    }
    60% {
        text-shadow: 0 0 0.6em rgb(144,180,216);
    }
    80% {
        text-shadow: 0 0 0.7em rgb(144,180,216);
    }
    100% {
        text-shadow: 0 0 0.6em rgb(144,180,216);
    }
}


/* PROFILE */
.profile__btn {
    font-size: 3vh;
}
    .profile__btn_action {
        margin-bottom: 2vh;
        justify-content: center;
    }

.input-btn-photo input[type="file"] {
    display: none;
}

.avatar-img {
    height: 8em;
    width: 8em;
    border-radius: 6em;
    filter: drop-shadow(0 0 1em rgb(144,180,216));
}

.change-btn-photo input[type="file"] {
    display: none;
}
.change-btn-photo {
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    color: white;
}

.change-btn-label {
    cursor: pointer;
}