:root {
    /* fonts */
    --title-font: "One Stroke";
    --content-font: "Comfortaa";

    /* colors */
    --main-clr: white;

    --black-clr: #111111;
    --bg-black-clr: rgba(15, 15, 20, .95);

    --blue-clr: rgb(72,108,144);
    --light-blue-clr: rgb(144,180,216);

    --invalid-red-clr: indianred;
    --valid-green-clr: lightgreen;


    /* shadows */
    --common-shdw: 0 0 1em var(--light-blue-clr);
    --small-shdw: 0 0 0.5em var(--light-blue-clr);

    --invalid-shdw: 0 0 1em var(--invalid-red-clr);
    --valid-shdw: 0 0 1em var(--valid-green-clr);
}

/* FONTS */
@font-face {
    font-family: "One Stroke";
    src: url("../fonts/onestroke.otf");
}
@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/comfortaa.ttf");
}

/* BASIC */
body {
    background-image: url('../img/2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: row;

    width: 100%;

    user-select: none;
    -webkit-user-select: none;

    font-family: var(--content-font);
    color: var(--main-clr);
}

.invalid {
    box-shadow: var(--invalid-shdw);
}
.valid {
    box-shadow: var(--valid-shdw);
}

.hr {
    width: 100%;
}

.text-title {
    display: flex;
    flex-direction: column;

    text-shadow: var(--small-shdw);

    margin: 1vh 0;
}

/* BUTTONS */
.btn {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    border: none;
    color: var(--main-clr);
    white-space: nowrap;
}
.btn:hover {
    outline: none;
    border: none;
    text-shadow: var(--common-shdw);
}
.btn:focus {
    outline: none;
    border-width: 0;
}
    .btn_contained {
        font-family: var(--content-font);
        align-items: center;
        border-radius: 0.25em;
        background: var(--blue-clr);
        padding: 1vh 1vw;
        margin: 1vh 1vw;
    }
    .btn_contained:hover {
        box-shadow: var(--small-shdw);
    }

    .btn_back-menu {
        margin-top: 0;
        display: inline-flex;
        text-decoration: none;
        justify-content: center;
        font-size: 3vh;
    }

/* MAIN CONTAINERS */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
    .container__block {
        display: flex;
        flex-direction: column;
        margin: 1vh 1vw;
    }
        .container__block_side {
            width: 100%;
        }
            .container__block_side_position-center {
                width: auto;
            }
        .container__block_center {
            margin: 0;
            text-align: center;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: var(--bg-black-clr);
            box-shadow: 0 0 3vw var(--light-blue-clr);
        }
            .container__block_center_menu {
                margin-right: 4vw;
            }

/* CONTENT BLOCKS */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 4vw;
    margin: 0;
}
    .content_menu {
        margin-top: 32vh;
    }
        .content_menu__btn {
            font-family: var(--title-font);
            font-size: 10vh;
            margin: 1vh 0;
        }

    .content_modal {
        width: 100%;
        padding: 4vh 4vw;
    }

    .content__header {
        font-family: var(--title-font);
        display: flex;
        justify-content: center;
        text-align: center;
        text-shadow: var(--common-shdw);
        font-size: 10vh;
        margin-bottom: 4vh;
        cursor: default;
    }
        .content__header_modal {
            width: 100%;
            font-size: 7.5vh;
            margin: 2vh 0 8vh 0;
        }

    .content-top {
        display: flex;
        flex-direction: row;
    }

    .content-block {
        display: flex;
        flex-direction: column;
    }
        .content-block_avatar {
            align-items: center;
        }
        .content-block_actions {
            display: none;
            margin: 2vh 0;
            text-align: center;
        }
        .content-block_about {
            align-items: center;
            flex-direction: column;
            font-size: 3vh;
        }

    .content-block-unit {
        display: flex;
        flex-direction: row;
    }
        .content-block-unit_about {
            flex-direction: column;
            white-space: nowrap;
            text-align: left;
            align-items: center;
            margin: 2vh 1vw 1vh 1vw;
        }
            .content-block-unit_about__btn {
                margin: 0 0 0.5vh 0.5em;
                border-bottom: 0.1em dotted;
            }
            .content-block-unit_about__btn:hover {
                border-bottom: 0.1em dotted;
            }
            .content-block-unit_about__btn:focus {
                outline: none;
                border-bottom: 0.1em dotted;
            }
        .content-block-unit_profile {
            flex-direction: column;
            font-size: 3vh;
            text-align: left;
        }
            .content-block-unit_profile_line {
                flex-direction: row;
                margin: 0.5em 0 1vh 0;
                font-size: 3.5vh;
            }
            .content-block-unit_profile__row {
                display: flex;
                align-items: center;
                padding-left: 0.5em;

                border: none;
                border-radius: 1vh;

                background-color: transparent;
                color: var(--main-clr);
            }

            .content-block-unit__title {
                margin: 0.5em 0 1vh 0;
            }
                .content-block-unit__title_row {
                    width: auto;
                    margin: 0;
                }

/* SETTINGS BLOCK */
.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 6vw;
    height: 6vh;

    margin: 0 1vw;
    z-index: 0;
}
    .settings__btn {
        font-size: 6vh;
        fill: var(--main-clr);
        cursor: pointer;
        margin: 0 10% 0 0;
    }
    .settings__btn:hover {
        filter: drop-shadow(0 0 1vh var(--light-blue-clr));
    }

/* USERS BLOCK */
.users {
    display: inline-flex;
    align-items: center;
    height: 6vh;
    margin-right: 0;
    font-size: 3.5vh;
    margin-left: auto;
}
    .users__btn {
        text-align: center;
        margin: 0 1vw;
        color: var(--main-clr);
        white-space: normal;
    }
        .users__btn_action {
            fill: var(--main-clr);
            cursor: pointer;
            margin: 0 1vw;
        }
        .users__btn_action:hover {
            filter: drop-shadow(0 0 1vh var(--light-blue-clr));
        }
    .users__avatar {
        width: 1.2em;
        height: 1.2em;
        margin-right: 1vw;
        border-radius: 0.6em;
    }
    .users__title {
        color: var(--main-clr);
        margin-right: 1vw;
    }

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}
    .form__input {
        height: 6vh;
        font-size: 4vh;
        text-align: left;
        border: none;
        box-shadow: var(--common-shdw);
        border-radius: 0.25em;
        margin: 0.5vh 0;
        padding: 0 0.25em;
    }
    .form__input:focus {
        outline: none;
        box-shadow: var(--small-shdw);
    }
    .form__input:invalid:not(:placeholder-shown) {
        box-shadow: var(--invalid-shdw);
    }
    .form__input:valid {
        box-shadow: var(--valid-shdw);
    }

    ::placeholder {
        color: var(--black-clr);
        font-family: var(--content-font);
    }
    .form__input_profile {
        font-size: 2.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 0.25em;

        border: none;
        border-radius: 1vh;
    }

    .form__label {
        display: flex;
        color: white;
        text-shadow: var(--common-shdw);
        font-size: 3vh;
        width: 100%;
        margin: 1vh 0;
    }

    .form-btn-block {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .form__btn {
        font-size: 4vh;
        margin: 8vh 1vw 1vh 1vw;
    }
    .form__btn_change-password {
        font-size: 2vh;
        margin: 1vh 0;
    }
    .form__btn_back {
        background: transparent;
        border-radius: 0.25em;
        border: 0.075em solid var(--blue-clr);
    }
    .form__btn_back:hover {
        outline: none;
        border: 0.075em solid var(--blue-clr);
        text-shadow: none;
    }
    .form__btn_back:focus {
        outline: none;
    }

/* LEADERBOARD */
.leaders-table {
    display: flex;
    justify-content: center;
    flex-direction: row;

    font-size: 6vh;
    border: none;
    padding: 0 0 4vh 0;
}
    .leaders-table__column {
        font-size: 4vh;
    }
    .leaders-table__column-header {
        white-space: nowrap;
        text-shadow: var(--common-shdw);
        font-size: 4.5vh;
        margin: 2vh 0 3vh 0;
    }

    .lead-users {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 2vw;
    }
    .lead-scores {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 2vw;
    }
    li:nth-child(odd) {
    }
    li:nth-child(even) {
    }

/* PROFILE */
.profile__btn {
    font-size: 2vh;
}
    .profile__btn_action {
        margin-bottom: 2vh;
        justify-content: center;
    }

/* PAGINATION */
.paginator {
    display: flex;
    color: var(--main-clr);
    margin-top: 2vh;
    font-size: 4vh;
    border-radius: 1em;
}
    .paginator__page {
        height: 1.5em;
        width: 1.5em;
        border-radius: 0.5em;
        font-size: 3vh;

        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 0.25vw;

        text-decoration: none;
        border: 0.075em solid var(--blue-clr);
        cursor: pointer;
    }
    .paginator__page:hover {
        box-shadow: var(--common-shdw);
        background: var(--blue-clr);
    }
    .paginator__page:focus  {
        outline: none;
    }
        /*.paginator__page_left {*/
            /*border-radius: 1em 0 0 1em;*/
        /*}*/
        /*.paginator__page_right {*/
            /*border-radius: 0 1em 1em 0;*/
            /*border-left: 1px solid rgba(144,180,216, .3);*/
        /*}*/


/* MODAL WINDOW */
.modal {
    position: absolute;
    top: 50%;
    margin-left: 50%;
    display: inline-flex;
    transform: translate(-50%, -50%);
    background: var(--bg-black-clr);
    box-shadow: 0 0 3vw var(--light-blue-clr);
    border-radius: 0.75em;
}
    .modal__btn-close {
        fill: var(--main-clr);
        margin-left: auto;
    }

/* MAIN GAME TITLE */
.name {
    font-family: var(--title-font);
    display: flex;
    margin: 25vh auto 0 auto;
    font-size: 22vh;
    animation: pulse 1s infinite;
}
    .name__text {
        display: inline-flex;
        text-decoration: none;
    }
    .name__text:hover {
        text-shadow: var(--common-shdw);
    }
@keyframes pulse {
    0% {
        text-shadow: 0 0 0.7em var(--light-blue-clr);
    }
    20% {
        text-shadow: 0 0 0.6em var(--light-blue-clr);
    }
    40% {
        text-shadow: 0 0 0.5em var(--light-blue-clr);
    }
    60% {
        text-shadow: 0 0 0.6em var(--light-blue-clr);
    }
    80% {
        text-shadow: 0 0 0.7em var(--light-blue-clr);
    }
    100% {
        text-shadow: 0 0 0.6em var(--light-blue-clr);
    }
}

.input-btn-photo input[type="file"] {
    display: none;
}

.avatar-img {
    height: 8em;
    width: 8em;
    border-radius: 6em;
    filter: drop-shadow(var(--common-shdw));
}

.change-btn-photo input[type="file"] {
    display: none;
}
.change-btn-photo {
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}

.change-btn-label {
    cursor: pointer;
}

.paginator-page {
    margin-right: 5px;
    margin-left: 5px;
}

.profile-score {
    display: flex;
    align-items: center;
    margin-left: 0.25em;
}