:root {
  --title-font: 'HYPERDRIVEItalic';
  --content-font: 'Comfortaa-Regular';

  /* colors */
  --main-clr: white;
  --black-clr: #111111;
  --bg-black-clr: rgba(15, 15, 20, .95);
  --blue-clr: rgb(72, 108, 144);
  --light-blue-clr: rgb(144, 180, 216);

  --invalid-red-clr: indianred;
  --valid-green-clr: lightgreen;

  /* shadows */
  --common-shdw: 0 0 0.5em var(--light-blue-clr);
  --small-shdw: 0 0 0.5em var(--light-blue-clr);
  --invalid-shdw: 0 0 1em var(--invalid-red-clr);
  --valid-shdw: 0 0 1em var(--valid-green-clr);
}